### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [52]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data

## Player Count

* Display the total number of players

In [53]:
Total_players={"Total Players":[len(purchase_data["SN"].unique())]}
df=pd.DataFrame(data=Total_players)
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
Number_Unique_Item=len(purchase_data["Item ID"].unique())
Average_Price="$"+str(round(purchase_data["Price"].mean(),2))
Number_Purchases=len(purchase_data["Purchase ID"])
Total_Revenue=purchase_data["Price"].sum()
summary = {"Number of Unique Items":[Number_Unique_Item],'Average Price':[Average_Price],
              "Number of Purchases":[Number_Purchases],'Total Revenue':[Total_Revenue]}
Purchasing_Analysis=pd.DataFrame(summary)
Purchasing_Analysis["Total Revenue"]=Purchasing_Analysis["Total Revenue"].map('${:,.2f}'.format)
Purchasing_Analysis
#print(Number_Unique_Item,Average_Price,Number_Purchases,Total_Revenue)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [55]:
#by drop duplicate ids
id_unique_df=purchase_data.drop_duplicates("SN")
counts=id_unique_df["Gender"].value_counts()
percentage=id_unique_df["Gender"].value_counts(normalize=True).mul(100).round(2).astype(str)+"%"
id_df=pd.DataFrame({'counts':counts,'percentage':percentage})
id_df

                       counts percentage
Male                      484     84.03%
Female                     81     14.06%
Other / Non-Disclosed      11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
#calculations
Purchase_Count=purchase_data["Gender"].value_counts()
average_purchase_price=purchase_data.groupby("Gender").mean().round(2)
total_Purchase_Value=purchase_data.groupby("Gender").sum().round(2)
Avg_Total_Purchase_per_Person=(total_Purchase_Value["Price"]/id_df["counts"]).round(2)

#Create a dataframe
Purchasing_Analysis=pd.DataFrame({"Purchase Count":Purchase_Count,
                                 "Average Purchase Price":average_purchase_price["Price"],
                                "Total Purchase Value":total_Purchase_Value["Price"],
                                 "Avg Total Purchase perPerson":Avg_Total_Purchase_per_Person
                                })
Purchasing_Analysis["Average Purchase Price"]=Purchasing_Analysis["Average Purchase Price"].map('${:,.2f}'.format)
Purchasing_Analysis["Total Purchase Value"]=Purchasing_Analysis["Total Purchase Value"].map('${:,.2f}'.format)
Purchasing_Analysis["Avg Total Purchase perPerson"]=Purchasing_Analysis["Avg Total Purchase perPerson"].map('${:,.2f}'.format)
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase perPerson
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [57]:
# assign bins
bins=(0,10,15,20,25,30,35,40,100)
purchase_data_by_bin=id_unique_df.copy()
purchase_data_by_bin["age bin"]=pd.cut(id_unique_df["Age"],bins,labels=['<10','10-14','15-19','20-24',
                                                       '25-29','30-34','35-39','40+'],right=False)
data_groupby_age=purchase_data_by_bin.groupby(["age bin"])

#count bins
bin_counts=data_groupby_age["SN"].count()
percentage_players=(bin_counts/len(id_unique_df["SN"])).mul(100).round(2).astype(str)+"%"

#create a dataframe to store
age_data=pd.DataFrame({'Total Counts':bin_counts,'Percentage of Players':percentage_players})
age_data

         Total Counts Percentage of Players
age bin
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
# assign bins
bins=(0,10,15,20,25,30,35,40,100)
purchase_data_by_bin=purchase_data.copy()
purchase_data_by_bin["age bin"]=pd.cut(purchase_data["Age"],bins,labels=['<10','10-14','15-19','20-24',
                                                       '25-29','30-34','35-39','40+'],right=False)
data_groupby_age=purchase_data_by_bin.groupby(["age bin"])

#calculate values
bin_purchase_count=data_groupby_age["Purchase ID"].count()
bin_ave_purchase_price=data_groupby_age["Price"].mean().round(2)
bin_total_purchase_price=data_groupby_age["Price"].sum().round(2)
bin_ave_total_purchase_pp=(data_groupby_age["Price"].sum()/age_data["Total Counts"]).round(2)

#Create a dataframe to store all above
Purchasing_Analysis_age=pd.DataFrame({"Purchase Count":bin_purchase_count,
                                 "Average Purchase Price":bin_ave_purchase_price,
                                "Total Purchase Value":bin_total_purchase_price,
                                 "Avg Total Purchase perPerson":bin_ave_total_purchase_pp
                                })
Purchasing_Analysis_age["Average Purchase Price"]=Purchasing_Analysis_age["Average Purchase Price"].map('${:,.2f}'.format)
Purchasing_Analysis_age["Total Purchase Value"]=Purchasing_Analysis_age["Total Purchase Value"].map('${:,.2f}'.format)
Purchasing_Analysis_age["Avg Total Purchase perPerson"]=Purchasing_Analysis_age["Avg Total Purchase perPerson"].map('${:,.2f}'.format)
Purchasing_Analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase perPerson
age bin,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
# in order to find top_spender we need to calculate the total spending for indiviuals
# aka sort by "SN" and add the sum&ave price for all SN

spender_data_total=purchase_data.groupby("SN").sum()["Price"].sort_values(ascending=False)

# now we can get the purchase count and average price
spender_data_ave=purchase_data.groupby("SN").mean()["Price"].sort_values(ascending=False)
spender_data_count=purchase_data.groupby("SN").count()["Price"].sort_values(ascending=False)

# create a data frame, sort data and format
top_spender_data=pd.DataFrame({"Purchase Count":spender_data_count,
                         "Average Purchase Price":spender_data_ave,
                         "Total Purchase Value":spender_data_total})
top_spender_data=top_spender_data.sort_values(by=["Total Purchase Value"],ascending=False)
top_spender_data["Average Purchase Price"]=top_spender_data["Average Purchase Price"].map('${:,.2f}'.format)
top_spender_data["Total Purchase Value"]=top_spender_data["Total Purchase Value"].map('${:,.2f}'.format)
top_spender_data.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
# simliar to above, this cell I use "item Name" to groupby

item_data_total=purchase_data.groupby(["Item ID","Item Name"]).sum()["Price"].sort_values(ascending=False)
#item_data_total=purchase_data.groupby("Item Name").sum()["Price"].sort_values(ascending=False)
item_data_count=purchase_data.groupby(["Item ID","Item Name"]).count()["Price"].sort_values(ascending=False)
#item_data_count=purchase_data.groupby("Item Name").count()["Price"].sort_values(ascending=False)
item_data_mean=purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"].sort_values(ascending=False)
#item_data_mean=purchase_data.groupby("Item Name"]).mean()["Price"].sort_values(ascending=False)


item_data=pd.DataFrame({"Purchase Count":item_data_count,
                         "Item Price":item_data_mean,
                         "Total Purchase Value":item_data_total})
item_data_sort=item_data.sort_values(by=["Purchase Count"],ascending=False)
item_data_sort["Item Price"]=item_data_sort["Item Price"].map('${:,.2f}'.format)
item_data_sort["Total Purchase Value"]=item_data_sort["Total Purchase Value"].map('${:,.2f}'.format)
popular_items=item_data_sort.head()
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
profitable_items=item_data.sort_values(by=["Total Purchase Value"],ascending=False)
profitable_items["Item Price"]=profitable_items["Item Price"].map('${:,.2f}'.format)
profitable_items["Total Purchase Value"]=profitable_items["Total Purchase Value"].map('${:,.2f}'.format)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80