### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
Total_players={"Total Players":[len(purchase_data["SN"].unique())]}
df=pd.DataFrame(data=Total_players)
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Number_Unique_Item=len(purchase_data["Item ID"].unique())
Average_Price="$"+str(round(purchase_data["Price"].mean(),2))
Number_Purchases=len(purchase_data["Purchase ID"])
Total_Revenue=purchase_data["Price"].sum()
summary = {"Number of Unique Items":[Number_Unique_Item],'Average Price':[Average_Price],
              "Number of Purchases":[Number_Purchases],'Total Revenue':[Total_Revenue]}
Purchasing_Analysis=pd.DataFrame(summary)
Purchasing_Analysis
#print(Number_Unique_Item,Average_Price,Number_Purchases,Total_Revenue)

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#by drop duplicate ids
id_unique_df=purchase_data.drop_duplicates("SN")
counts=id_unique_df["Gender"].value_counts()
percentage=id_unique_df["Gender"].value_counts(normalize=True).mul(100).round(2).astype(str)+"%"
id_df=pd.DataFrame({'counts':counts,'percentage':percentage})
id_df

                       counts percentage
Male                      484     84.03%
Female                     81     14.06%
Other / Non-Disclosed      11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#calculations
Purchase_Count=purchase_data["Gender"].value_counts()
average_purchase_price=purchase_data.groupby("Gender").mean().round(2)
total_Purchase_Value=purchase_data.groupby("Gender").sum().round(2)
Avg_Total_Purchase_per_Person=(total_Purchase_Value["Price"]/id_df["counts"]).round(2)

#Create a dataframe
Purchasing_Analysis=pd.DataFrame({"Purchase Count":Purchase_Count,
                                 "Average Purchase Price":average_purchase_price["Price"],
                                "Total Purchase Value":total_Purchase_Value["Price"],
                                 "Avg Total Purchase perPerson":Avg_Total_Purchase_per_Person
                                })
Purchasing_Analysis["Average Purchase Price"]=Purchasing_Analysis["Average Purchase Price"].map('${:,.2f}'.format)
Purchasing_Analysis["Total Purchase Value"]=Purchasing_Analysis["Total Purchase Value"].map('${:,.2f}'.format)
Purchasing_Analysis["Avg Total Purchase perPerson"]=Purchasing_Analysis["Avg Total Purchase perPerson"].map('${:,.2f}'.format)
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase perPerson
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# assign bins
bins=(0,10,15,20,25,30,35,40,100)
purchase_data_by_bin=id_unique_df.copy()
purchase_data_by_bin["age bin"]=pd.cut(id_unique_df["Age"],bins,labels=['<10','10-14','15-19','20-24',
                                                       '25-29','30-34','35-39','40+'],right=False)
data_groupby_age=purchase_data_by_bin.groupby(["age bin"])

#count bins
bin_counts=data_groupby_age["SN"].count()
percentage_players=(bin_counts/len(id_unique_df["SN"])).mul(100).round(2).astype(str)+"%"

#create a dataframe to store
age_data=pd.DataFrame({'Total Counts':bin_counts,'Percentage of Players':percentage_players})
age_data

         Total Counts Percentage of Players
age bin
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# assign bins
bins=(0,10,15,20,25,30,35,40,100)
purchase_data_by_bin=purchase_data.copy()
purchase_data_by_bin["age bin"]=pd.cut(purchase_data["Age"],bins,labels=['<10','10-14','15-19','20-24',
                                                       '25-29','30-34','35-39','40+'],right=False)
data_groupby_age=purchase_data_by_bin.groupby(["age bin"])

#calculate values
bin_purchase_count=data_groupby_age["Purchase ID"].count()
bin_ave_purchase_price=data_groupby_age["Price"].mean().round(2)
bin_total_purchase_price=data_groupby_age["Price"].sum().round(2)
bin_ave_total_purchase_pp=(data_groupby_age["Price"].sum()/age_data["Total Counts"]).round(2)

#Create a dataframe to store all above
Purchasing_Analysis_age=pd.DataFrame({"Purchase Count":bin_purchase_count,
                                 "Average Purchase Price":bin_ave_purchase_price,
                                "Total Purchase Value":bin_total_purchase_price,
                                 "Avg Total Purchase perPerson":bin_ave_total_purchase_pp
                                })
Purchasing_Analysis_age["Average Purchase Price"]=Purchasing_Analysis_age["Average Purchase Price"].map('${:,.2f}'.format)
Purchasing_Analysis_age["Total Purchase Value"]=Purchasing_Analysis_age["Total Purchase Value"].map('${:,.2f}'.format)
Purchasing_Analysis_age["Avg Total Purchase perPerson"]=Purchasing_Analysis_age["Avg Total Purchase perPerson"].map('${:,.2f}'.format)
Purchasing_Analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase perPerson
age bin,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
top_spender=purchase_data["SN"].value.counts()
top_spender

AttributeError: 'Series' object has no attribute 'value'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame